<article>
<ul>
  {{#restaurants}}
    <li>
      <section>
          <h1><a href="{{#params}}{{menu_uri}}{{/params}}/{{id}}{{#params}}?time={{dateTime}}&addr={{addr}}&city={{city}}&state={{state}}&zip={{zip}}&phone={{phone}}&addr2={{addr2}}{{/params}}">{{na}}</a></h1>
        <p>{{ad}}</p>
        <p>Expected delivery time: {{del}} minutes</p>
        <p>Minimum order amount: ${{mino}}</p>
        <ul>
          {{#cu}}
            <li>{{.}}</li>
          {{/cu}}
        </ul>
        <p>This restaurant will{{^is_delivering}} <b>not</b>{{/is_delivering}} deliver to this address at this time</p>
      </section>
    </li>
  {{/restaurants}}
</ul>
</article>